.swiftpm/xcode/package.xcworkspace/xcuserdata
.swiftpm/xcode/xcuserdata
Package.resolved
PlaybookDemo.xcodeproj
.DS_Store
/BuildTemp
/DerivedData
PlaybookShowcase/PlaybookShowcase.xcodeproj/project.xcworkspace/xcuserdata
PlaybookShowcase/PlaybookShowcase.xcodeproj/xcuserdata
fastlane/report.xml
fastlane/swift/Actions.swift
fastlane/swift/Appfile.swift
fastlane/swift/ArgumentProcessor.swift
fastlane/swift/Atomic.swift
fastlane/swift/ControlCommand.swift
fastlane/swift/Deliverfile.swift
fastlane/swift/DeliverfileProtocol.swift
fastlane/swift/Fastfile.swift
fastlane/swift/Fastlane.swift
fastlane/swift/Gymfile.swift
fastlane/swift/GymfileProtocol.swift
fastlane/swift/LaneFileProtocol.swift
fastlane/swift/main.swift
fastlane/swift/MainProcess.swift
fastlane/swift/Matchfile.swift
fastlane/swift/MatchfileProtocol.swift
fastlane/swift/OptionalConfigValue.swift
fastlane/swift/Plugins.swift
fastlane/swift/Precheckfile.swift
fastlane/swift/PrecheckfileProtocol.swift
fastlane/swift/RubyCommand.swift
fastlane/swift/RubyCommandable.swift
fastlane/swift/Runner.swift
fastlane/swift/RunnerArgument.swift
fastlane/swift/Scanfile.swift
fastlane/swift/ScanfileProtocol.swift
fastlane/swift/Screengrabfile.swift
fastlane/swift/ScreengrabfileProtocol.swift
fastlane/swift/Snapshotfile.swift
fastlane/swift/SnapshotfileProtocol.swift
fastlane/swift/SocketClient.swift
fastlane/swift/SocketClientDelegateProtocol.swift
fastlane/swift/SocketResponse.swift
fastlane/swift/upgrade_manifest.json
fastlane/swift/FastlaneSwiftRunner/README.txt
fastlane/swift/FastlaneSwiftRunner/FastlaneSwiftRunner.xcodeproj/project.pbxproj
fastlane/swift/FastlaneSwiftRunner/FastlaneSwiftRunner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
fastlane/swift/FastlaneSwiftRunner/FastlaneSwiftRunner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
fastlane/swift/FastlaneSwiftRunner/FastlaneSwiftRunner.xcodeproj/xcshareddata/xcschemes/FastlaneRunner.xcscheme
fastlane/swift/formatting/Brewfile
fastlane/swift/formatting/Brewfile.lock.json
fastlane/swift/formatting/Rakefile
