.swiftpm/xcode/package.xcworkspace/xcuserdata
.swiftpm/xcode/xcuserdata
Package.resolved
PlaybookDemo.xcodeproj
.DS_Store
/BuildTemp
/DerivedData
PlaybookShowcase/PlaybookShowcase.xcodeproj/project.xcworkspace/xcuserdata
PlaybookShowcase/PlaybookShowcase.xcodeproj/xcuserdata
fastlane/report.xml
