<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>ProximaNova-Black.otf</string>
		<string>ProximaNova-BlackIt.otf</string>
		<string>ProximaNova-Bold.otf</string>
		<string>ProximaNova-BoldIt.otf</string>
		<string>ProximaNova-Extrabld.otf</string>
		<string>ProximaNova-ExtrabldIt.otf</string>
		<string>ProximaNova-Light.otf</string>
		<string>ProximaNova-LightIt.otf</string>
		<string>ProximaNova-Regular.otf</string>
		<string>ProximaNova-RegularIt.otf</string>
		<string>ProximaNova-Semibold.otf</string>
		<string>ProximaNova-SemiboldIt.otf</string>
		<string>ProximaNova-Thin.otf</string>
		<string>ProximaNova-ThinIt.otf</string>
	</array>
</dict>
</plist>
